<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/voitures">Voitures</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/categories">Categories</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/partie">Parties</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/mes-parties">Mes Parties</a>
            </li>
            
            {% if app.user %}
                {% if app.user.role.name == "Admin" %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/user">Users</a>
                    </li>
                {% endif %}
                <div class="mb-3">
                    You are logged in as {{ app.user.role.name }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
        </ul>
    </div>
</nav>
